<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <SimulationStart Year="1990" Month="1"></SimulationStart>
  <SimulationEnd Year="2011" Month="12"></SimulationEnd>
  <InitialConditions Use="true" CSVFileName="D:\DK_information\output_temp.csv"></InitialConditions>
  <Catchments ShapeFileName="D:\DK_information\Overfladevand\oplande\id15_NSTmodel_marts2014.shp"></Catchments>
  <Lakes ShapeFileName="D:\DK_information\Overfladevand\Soer\FOTsoe_fin.shp"></Lakes>
  <Observations Update="true" ShapeFileName="D:\DK_information\Overfladevand\stationer\stationer2.shp" TransportFileName="D:\DK_information\Overfladevand\validering\stoftransporter.txt">
  </Observations>
  <MikeSheModels>
    <MikeSheModel Update="false" SheFileName="e:\dhi\data\dkm\dk1\result\DK1_2014_m11_produktion.she"></MikeSheModel>
    <MikeSheModel Update="false" SheFileName="E:\dhi\data\dkm\dk2\result\DK2_v3_gvf_PT_100p_24hr.she"></MikeSheModel>
    <MikeSheModel Update="false" SheFileName="E:\dhi\data\dkm\dk3\result\DK3_2014_m11_produktion.she"></MikeSheModel>
    <MikeSheModel Update="false" SheFileName="E:\dhi\data\dkm\dk4\result\DK4_R201401_m11_produktion.she"></MikeSheModel>
    <MikeSheModel Update="false" SheFileName="E:\dhi\data\dkm\dk5\result\DK5_R201401_m11_produktion.she"></MikeSheModel>
    <MikeSheModel Update="false" SheFileName="E:\dhi\data\dkm\dk6\result\DK6_R201401_m11_produktion.she"></MikeSheModel>
    <MikeSheModel Update="false" SheFileName="E:\dhi\data\dkm\dk7\result\DK7_2014_m11_produktion.she"></MikeSheModel>
  </MikeSheModels>
  <SourceModels>
    <Atmospheric Name="Atmospheric deposition" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Ndeposition\EMEP_centroid_DK.shp"></LocationFile>
      <DataFile ExcelFileName="D:\DK_information\Overfladevand\Ndeposition\EMEP_Ndep_1990_2013.xlsx"></DataFile>
    </Atmospheric>
    <PointSource Name="Spredt bebyggelse" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Punktkilder\spredt_pkt.shp" IDColumn="Id_2012"></LocationFile>
      <DataFile DBFFileName="D:\DK_information\Overfladevand\Punktkilder\spredt_data_final.dbf" IDColumn="id_2012" YearColumn="aar" ValueColumn="totaln"></DataFile>
    </PointSource>    
    <PointSource Name="Dambrug" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Punktkilder\dambrug_pkt.shp" IDColumn="Id"></LocationFile>
      <DataFile DBFFileName="D:\DK_information\Overfladevand\Punktkilder\dambrug_punkter_final.dbf" IDColumn="anlaegnr" YearColumn="AarMaalt" ValueColumn="totaln"></DataFile>
    </PointSource>
    <PointSource Name="Rensningsanlæg" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Punktkilder\rens_pkt.shp" IDColumn="Id"></LocationFile>
      <DataFile DBFFileName="D:\DK_information\Overfladevand\Punktkilder\rens_punkter_final_ny.dbf" IDColumn="Id_2012" YearColumn="AarMaalt" ValueColumn="TotalN"></DataFile>
    </PointSource>
    <PointSource Name="Industri" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Punktkilder\industri_pkt.shp" IDColumn="Id"></LocationFile>
      <DataFile DBFFileName="D:\DK_information\Overfladevand\Punktkilder\industri_punkter_final.dbf" IDColumn="MixId" YearColumn="AarMaalt" ValueColumn="totaln"></DataFile>
    </PointSource>
    <PointSource Name="Regn" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Punktkilder\regn_pkt.shp" IDColumn="Id"></LocationFile>
      <DataFile DBFFileName="D:\DK_information\Overfladevand\Punktkilder\regnvand_punkter_final.dbf" IDColumn="Id" YearColumn="Aar" ValueColumn="totaln"></DataFile>
    </PointSource>
    <OrganicN Name="OrganicN" Update="true">
      <Parameters p1=".00023" p2="-0.445" p3="-0.0088" p4="-0.0228"  MaxConcentration="2"></Parameters>
      <SoilTypeFile DBFFileName="D:\DK_information\Overfladevand\OrgN\jsimptot_id15.dbf" IDColumn="Id15_model" ValueColumn="Pct" SoilNameText="Text"></SoilTypeFile>
      <SlopeFile DBFFileName="D:\DK_information\Overfladevand\OrgN\slope16_mean.dbf" IDColumn="Id15_model" ValueColumn="MEAN"></SlopeFile>
    </OrganicN>
    <GroundwaterSource Name="GroundWater" Update="false" WriteBreakthroughCurves="true">
      <ParticleFiles >
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk1\result\dbf results\PTReg_PTReg_dk1_R201401_normal.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk2\result\dbf results\PTReg_PT_dk2_R201401_normal.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk3\result\DK3_2014_pt_produktion.she - Result Files\PTReg_Extraction_1.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk4\result\dbf results\PTReg_PTReg_dk4_R201401_normal.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk5\result\dbf results\PTReg_PTReg_dk5_R201401_normal.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk6\result\dbf results\PTReg_PTReg_dk6_R201401_normal.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
        <ParticleFile ShapeFileName="E:\dhi\data\dkm\dk7\result\dbf results\PTReg_PTReg_dk7_2014_pt_normal.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
      </ParticleFiles>
      <DaisyFiles>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1990.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1991.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1992.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1993.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1994.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1995.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1996.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1997.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1998.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily1999.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2000.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2001.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2002.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2003.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2004.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2005.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2006.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2007.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2008.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2009.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2010.txt"></DaisyFile>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\SoilFarms_dmi10kmgrid_daily2011.txt"></DaisyFile>
      </DaisyFiles>
      <SoilCodes ShapeFileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\DKDomainNodes_LU_Soil_codes.shp"></SoilCodes>
    </GroundwaterSource>
  </SourceModels>

  <InternalSinks>
    <SmallLakesSink Name="Små søer" Update="false">
      <SoilTypes>
        <SoilType Name="Ler" IntensiveRate="400" IntermediateRate="170" ExtensiveRate="80"></SoilType>
        <SoilType Name="Sand" IntensiveRate="300" IntermediateRate="125" ExtensiveRate="60"></SoilType>
      </SoilTypes>
    </SmallLakesSink>
    <StreamSink Update="true" Name="Internal streams" MultiplicationFactor="74.61" Exponent="-0.344" ReachLenghtReductionFactor="0.25" FirstSummerMonth="4" LastSummerMonth="10">
      <DBFFiles>
        <DBFFile FileName="D:\DK_information\vandløb\vandlob_id15_sum.dbf" IDColumn="Id15_model" WidthColumn="Bredde" LengthColumn="FOT_intern"></DBFFile>
      </DBFFiles>
      <StreamClasses>
        <StreamClass Name="Stream 0 - 2.5m" Width="1.23" DepthWinter="0.21" DepthSummer="0.17" VelocityWinter="0.22" VelocitySummer="0.18" ReachLenghtReductionFactorScale="1"></StreamClass>
        <StreamClass Name="Stream 2.5 - 12m" Width="5.15" DepthWinter="0.54" DepthSummer="0.44" VelocityWinter="0.37" VelocitySummer="0.3"></StreamClass>
        <StreamClass Name="Stream 12+ m" Width="16.61" DepthWinter="1.2" DepthSummer="1.1" VelocityWinter="0.48" VelocitySummer="0.35"></StreamClass>
      </StreamClasses>
    </StreamSink>

  </InternalSinks>

  <MainStreamSinks>
    <StreamSink Update="false" Name="MainStream" MultiplicationFactor="74.61" Exponent="-0.344" ReachLenghtReductionFactor="0.25" FirstSummerMonth="4" LastSummerMonth="10">
      <DBFFiles>
        <DBFFile FileName="D:\DK_information\vandløb\vandlob_id15_sum.dbf" IDColumn="Id15_model" WidthColumn="Bredde" LengthColumn="Connect"></DBFFile>
      </DBFFiles>
      <StreamClasses>
        <StreamClass Name="Stream 12+ m" Width="16.61" DepthWinter="1.2" DepthSummer="1.1" VelocityWinter="0.48" VelocitySummer="0.35"></StreamClass>
      </StreamClasses>
    </StreamSink>
    <LakeSink Update="True" Name="Store søer" InitialConcentration="0" Par1="6.117" Alpha="0.455" Beta="1.087" ShapeFileName="D:\DK_information\Overfladevand\Soer\storesoer_cntr.shp">
      
    </LakeSink>

  </MainStreamSinks>

  <Output>
    <AllData CSVFileName="D:\DK_information\output_temp2.csv"></AllData>
    <Log FileName="D:\DK_information\log.txt"></Log>
    <DetailedParameterTimeSeries>
      <DetailedParameterTimeSerie Update="false" Parameter="GroundWater" CSVFileName="D:\DK_information\Groundwater.csv"></DetailedParameterTimeSerie>
    </DetailedParameterTimeSeries>
    <DetailedCatchmentTimeSeries>
      <DetailedCatchmentTimeSerie Update="true" CatchmentID="93600020" CSVFileName="D:\DK_information\DetailedTimeSeries.csv"></DetailedCatchmentTimeSerie>
    </DetailedCatchmentTimeSeries>
    <MapOutputs>
      <MapOutput Update="true" AreaWeighted="true" FromYear="2010" ToYear="2011" FromMonth="1" ToMonth="1" ShapeFileName ="D:\DK_information\map.shp"></MapOutput>
      <MapOutput Update="false" AreaWeighted="true" ShapeFileName ="D:\DK_information\map.shp"></MapOutput>
    </MapOutputs>
  </Output>

</Configuration>