<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <SimulationStart Year="1990" Month="1"></SimulationStart>
  <SimulationEnd Year="2000" Month="1"></SimulationEnd>
  <InitialConditions Use="true" CSVFileName="D:\DK_information\output2.csv"></InitialConditions>
  <Output>
    <AllData CSVFileName="D:\DK_information\output.csv"></AllData>
    <Log FileName="D:\DK_information\log.txt"></Log>
  </Output>
  <Catchments ShapeFileName="D:\DK_information\TestData\FileStructure\id15_NSTmodel.shp"></Catchments>
  <MikeSheModels>
    <MikeSheModel Update="true" SheFileName="E:\dhi\data\dkm\dk1\result\DK1_2014_m11_produktion.she"></MikeSheModel>
  </MikeSheModels>
  <SourceModels>
    <Atmospheric Name="Atmospheric deposition" Update="true">
      <LocationFile ShapeFileName="D:\DK_information\TestData\FileStructure\Ndeposition\EMEP_centroid_DK.shp"></LocationFile>
      <DataFile ExcelFileName="D:\DK_information\TestData\FileStructure\Ndeposition\EMEP_Ndep_1990_2013.xlsx"></DataFile>
    </Atmospheric>
    <PointSource Name="Spredt bebyggelse" Update="false">
      <LocationFile ShapeFileName="D:\DK_information\Overfladevand\Punktkilder\spredt_pkt.shp" IDColumn="Id_2012"></LocationFile>
      <DataFile DBFFileName="D:\DK_information\Overfladevand\Punktkilder\spredt_data_final.dbf" IDColumn="id_2012" YearColumn="aar" ValueColumn="totaln"></DataFile>
    </PointSource>
    <OrganicN Name="OrganicN" Update="true">
      <Parameters p1="-1.4624" p2="-0.1830" p3="0.2085" p4="0.2704" p5="0.1536744"></Parameters>
      <CoarseSandFileName></CoarseSandFileName>
      <SlopeFileName></SlopeFileName>
    </OrganicN>
    <GroundwaterSource Name="GroundWater" Update="false">
      <ParticleFiles >
        <ParticleFile ShapeFileName="D:\DK_information\TestData\FileStructure\Particles\PTReg_Extraction_1_20131007_dk2.shp" NumberOfParticlesInGridBlock="100"></ParticleFile>
      </ParticleFiles>
      <DaisyFiles>
        <DaisyFile FileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\Leaching_area_2.txt"></DaisyFile>
      </DaisyFiles>
      <SoilCodes ShapeFileName="D:\DK_information\TestData\FileStructure\DaisyLeaching\DKDomainNodes_LU_Soil_codes.shp"></SoilCodes>
    </GroundwaterSource>
  </SourceModels>

  <InternalReductionModels>
    <InternalLake Name="InternalLake" Update="false">
    </InternalLake>
    <StreamReduction Update="True" Name="Internal streams" MultiplicationFactor="74.61" Exponent="-0.344" ReachLenghtReductionFactor="0.25" FirstSummerMonth="4" LastSummerMonth="10">
      <DBFFiles>
        <DBFFile FileName="D:\DK_information\vandløb\vandlob_id15_sum.dbf" IDColumn="Id15_model" WidthColumn="Bredde" LengthColumn="FOT_intern"></DBFFile>
      </DBFFiles>
      <StreamClasses>
        <StreamClass Name="Stream 0 - 2.5m" Width="1.23" DepthWinter="0.21" DepthSummer="0.17" VelocityWinter="0.22" VelocitySummer="0.18"></StreamClass>
        <StreamClass Name="Stream 2.5 - 12m" Width="5.15" DepthWinter="0.54" DepthSummer="0.44" VelocityWinter="0.37" VelocitySummer="0.3"></StreamClass>
        <StreamClass Name="Stream 12+ m" Width="16.61" DepthWinter="1.2" DepthSummer="1.1" VelocityWinter="0.48" VelocitySummer="0.35"></StreamClass>
      </StreamClasses>
    </StreamReduction>
  </InternalReductionModels>

  <MainStreamRecutionModels>
    <StreamReduction Update="True" Name="MainStream" MultiplicationFactor="74.61" Exponent="-0.344" ReachLenghtReductionFactor="0.25" FirstSummerMonth="4" LastSummerMonth="10">
      <DBFFiles>
        <DBFFile FileName="D:\DK_information\vandløb\vandlob_id15_sum.dbf" IDColumn="Id15_model" WidthColumn="Bredde" LengthColumn="Connect"></DBFFile>
      </DBFFiles>
      <StreamClasses>
        <StreamClass Name="Stream 0 - 2.5m" Width="1.23" DepthWinter="0.21" DepthSummer="0.17" VelocityWinter="0.22" VelocitySummer="0.18"></StreamClass>
        <StreamClass Name="Stream 2.5 - 12m" Width="5.15" DepthWinter="0.54" DepthSummer="0.44" VelocityWinter="0.37" VelocitySummer="0.3"></StreamClass>
        <StreamClass Name="Stream 12+ m" Width="16.61" DepthWinter="1.2" DepthSummer="1.1" VelocityWinter="0.48" VelocitySummer="0.35"></StreamClass>
      </StreamClasses>
    </StreamReduction>

  </MainStreamRecutionModels>
  
</Configuration>