<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HydroNumerics.MikeSheTools.MikeUrban.Properties.Settings.SoholtBakRev_2009ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Jacob\Projekter\GEUS\Silkeborg\JacobGudbjerg\SoholtBakRev_2009.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_LoggerData">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://hydroinform.cloudapp.net/LoggerData.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_LoggerData"
                contract="ServiceReference1.LoggerData" name="CustomBinding_LoggerData" />
        </client>
    </system.serviceModel>
</configuration>