<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_LoggerData">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://hydroinform.cloudapp.net/LoggerData.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_LoggerData"
        contract="LoggerData.LoggerData" name="CustomBinding_LoggerData" />
    </client>
  </system.serviceModel>
</configuration>
