<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_LoggerData">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://hydroinform.cloudapp.net/LoggerData.svc" binding="customBinding" bindingConfiguration="CustomBinding_LoggerData" contract="Logger.LoggerData" name="CustomBinding_LoggerData"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
