<?xml version="1.0" encoding="utf-8"?>
<Dfs3plotDfs2>
      <SheFileName>..\..\..\..\MikeSheTools\TestData\Karup_Example_DemoMode.SHE</SheFileName>
      <Dfs3FileName>..\..\..\..\MikeSheTools\TestData\Karup_Example_DemoMode.SHE - Result Files\Karup_Example_DemoMode_3DSZ.dfs3</Dfs3FileName>
      <ItemNumber>1</ItemNumber>
      <TimeSteps>0</TimeSteps>
      <Layers>0</Layers>
</Dfs3plotDfs2>