<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HydroNumerics.JupiterTools.Properties.Settings.JupiterConnectionString"
            connectionString="Data Source=JACOB-PC;Initial Catalog=Jupiter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HydroNumerics.JupiterTools.Properties.Settings.herningConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TestData\NyeTabeller2012.mdb"
            providerName="System.Data.OleDb" />
        <add name="HydroNumerics.JupiterTools.Properties.Settings.HelsingorConnectionString"
            connectionString="Data Source=JACOB-PC;Initial Catalog=Sjaelland;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HydroNumerics.JupiterTools.Properties.Settings.NyeTabeller2012ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TestData\NyeTabeller2012.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
